body {
    font-family: Roboto, sans-serif;
}

input#searchBox {
    margin: 20px auto;
    display: block;
    font-size: 16pt;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

section {
    margin: 0 auto;
	max-width: 1280px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

a.image-link {
    padding: 0 30px 60px;
}

/* LIGHTBOX CUSTOM CSS */

.lb-data {
    height: 30px;
}

.lb-outerContainer {
    border-radius: 0;
    background-color: transparent;
}

.lightbox .lb-image {
    border: none;
    border-radius: 0px;
}


.lb-dataContainer {
    max-width: 600px;
	margin-top: 40px;
}

@media(min-width:500px) {
	input#searchBox {
		width:500px;
	}
	#lightbox {
    top: 50px !important;
	}
}